[submodule "include/vkbootstrap"]
	path = include/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "include/vma"]
	path = include/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "include/sdl"]
	path = include/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.30.x
[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm.git
[submodule "include/fastgltf"]
	path = include/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "include/volk"]
	path = include/volk
	url = https://github.com/zeux/volk.git
